
        :root {
            --primary-color: #1a365d;
            --accent-color: #e53e3e;
            --nav-width: 280px;
            --attention-color1: #e53e3e;
            --attention-color2: #ff6a3d;
        }

        .attention {
            color: white;
            width: 90%;
            padding: 10px;
            margin-right: 8px;
            border-radius: 8px;
            margin: 10px auto 2rem;
            background-color: var(--attention-color1);
            animation: pulse 2s infinite alternate;
        }

        @keyframes pulse {
            0% {
                background-color: var(--attention-color1);
            }
            50% {
                background-color: var(--attention-color2);
            }
            100% {
                background-color: var(--attention-color1);
            }
        }
